    /* Styles for the popup */
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      border: 1px solid #000;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    /*style for the remove popup window*/
  .removepopup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      border: 1px solid #000;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Title styles */
#title {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 0;
}

/* Task list styles */
#tasklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Task list item styles */
#tasklist li {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Buttons styles */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}


